__dev__
dist
coverage
node_modules
flow-typed
packages/builder/test/fixtures/**
packages/builder/test/watch-fixtures/**
packages/builder/test/babel-plugin-transform-modules/fixtures/**
packages/builder/src/runtime/runtime.min.js
