*.txt
*.log
__dev__
.yarn/*
!.yarn/releases
!.yarn/plugins
coverage
dist
node_modules
packages/builder/test/fixtures/*/actual
packages/builder/test/watch-fixtures/*/actual
packages/builder/test/watch-fixtures/*/working
