*.txt
*.log
__dev__
.yarn/unplugged
.yarn/build-state.yml
coverage
dist
node_modules
packages/builder/test/fixtures/*/actual
packages/builder/test/watch-fixtures/*/actual
packages/builder/test/watch-fixtures/*/working
